.nav-extended{
    padding: 0 10px;
}
.nav-wrapper > a{
    height: 100%;
}
.header-user-kanan-atas div{
    float:left;
}
.filter-dashboard{
    height: auto !important;
}
.card {
    margin : .5rem 0 1rem 0;
    padding: 24px;
}
.dashboard-card-container{
    position: relative;
    padding: 0 24px !important;
}
.dashboard-card-container > div{
    height: 480px;
}

.dashboard-card-container > .card{
    color: #FFF;
}
.dashboard-card-container.satu > .card{
    background-color:#2E4368;
}
.dashboard-card-container.dua > .card{
    background-color: #F59531;
}
.dashboard-card-container.tiga > .card{
    background-color: #11A8B5;
}
.dashboard-card-container.empat > .card{
    background-color: #0A61B9;
}
.dashboard-card-container > .card > div:nth-child(1){
    height: 15%;
}
.dashboard-card-container > .card > div:nth-child(2){
    height: 30%;
}
.dashboard-card-container > .card > div:nth-child(3){
    height: 15%;
}
.dashboard-card-container > .card > div:nth-child(4){
    height: 35%;

}
.dashboard-card-container > .card > div:nth-child(1)>span{
    font-size: 3vh;
    font-weight: bold;
}
.dashboard-card-container > .card > div:nth-child(2)>div{
    float:left;
    width:50%;
    height: 50%;
}
.dashboard-card-container > .card > div:nth-child(2)>div:nth-child(2){
    border-left:2px solid #FFF;
    padding-left: 24px;
}
.dashboard-card-container > .card > div >div {

}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(1){
    font-size: 2.5vh;
    text-align: center;
}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(2){
    font-size: 4.5vh;
    /*text-align: left;*/
    text-align: center;
}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(2) i{
    top: 20px;
    position: relative;
}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(3){
    text-align: center;
    font-size: 2vh;
    margin-top:24px;
}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(4){
    text-align: center;
    font-size: 2vh;
}
.dashboard-card-container > .card > div:nth-child(2) > div >div:nth-child(4) i{
    top: 0px;
    position: relative;
}
.dashboard-chartA-container{
    padding: 0 0px;
}

.hayahayo{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.filter_dashboard > ul.select-dropdown,ul.dropdown-content{
    min-width:400px !important;
}

.card-active{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.card{
    transition: 0.5s ease;
    cursor: pointer;
    vertical-align: top;
}

.card:hover{
    transform: scale(1.05);
    /*         box-shadow: 5px 5px 5px rgba(0,0,0,0.6); */
}


/*     .dashboard-card-container.satu > .card */